<div class="p-12">
  <div class="mx-auto w-full mb-5">
    <h1 class="text-lg font-bold leading-5 my-3">Resumen de Movimientos</h1>
  </div>
  <div class="mx-auto w-full mb-5">
    <h1 class="text-lg leading-5 my-3">Seleccione un rango de fechas para generar la grafica</h1>
  </div>
  <form
    [formGroup]="consultaEstadisticasForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex justify-between w-full">
      <mat-form-field>
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" formControlName="startDate">
          <input matEndDate placeholder="End date" formControlName="endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 w-32 h-12">Buscar</button>
    </div>
  </form>
  <div>
    <canvas #presupuestoChart></canvas>
  </div>
</div>


